{% extends 'base.html' %}

{% block title %}Добавление продукта{% endblock %}


{% block body %}
<div class="wrapper">
    <div class="main-register main">
        <div class="main-register__container _container">
            <div class="main-register__menu"><a href="{{ url_for('admin') }}">Администрирование</a> » Добавление продукта</div>
            <div class="main-register__title">Добавление продукта</div>

            <div class="main-register__account account">
                <div class="account-menu main-register__reset">
                    <div>
                        {% if get_flashed_messages() %}
                        <div>
                            {% for mess in get_flashed_messages(category_filter=['error']) %}
                                <h5 class="account__alert-register alert-danger alert-danger__login">{{mess}}</h5>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>

                    <div>
                        {% if get_flashed_messages() %}
                        <div>
                            {% for mess in get_flashed_messages(category_filter=['success']) %}
                                <h5 class="account__alert-register alert-success">{{mess}}</h5>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <form action="", method="post" enctype="multipart/form-data">
                        {{ form.hidden_tag() }}

                        <div class="account__form form-email">
                            <label for="" class="form-email__label form__label email__reset__form">Введите название продукта: </label>
                            {{form.name(class="form-email__input form__input", placeholder="Продукт") }}
                        </div>

                        <div class="account__form form-email">
                            <label for="brand" class="form-email__label form__label email__reset__form">Выберите бренд:</label>
                            <select name="brand" id="brand" class="form-email__product" required>
                                {% for brand in brands %}
                                    <option value="{{brand.id}}"> {{brand.name}} </option>
                                {% endfor %}
                            </select><br>
                        </div>

                        <div class="account__form form-email">
                            <label for="" class="form-email__label form__label email__reset__form">Выберите категорию:</label>
                            <select name="category" id="category" class="form-email__product">
                                {% for categorie in categories %}
                                    <option value="{{categorie.id}}"> {{categorie.name}} </option>
                                {% endfor %}
                                    <option value="None">Нет</option>
                            </select><br>
                        </div>
                        <div class="account__form form-email">
                            <label for="" class="form-email__label form__label email__reset__form">Введите размеры через запятую (US): </label>
                            {{form.size(class="form-email__input form__input", placeholder="Размер") }}
                        </div>
                        <div class="account__form form-email">
                            <label for="" class="form-email__label form__label email__reset__form">Введите цену: </label>
                            {{form.price(class="form-email__input form__input", placeholder="Цена") }}
                        </div>
                        <div class="account__form form-email">
                            <label for="" class="form-email__label form__label email__reset__form">Введите описание: </label>
                            {{form.description(class="form-email__input form__input", placeholder="Описание") }}
                        </div>
                        <div class="account__form form-email">
                            <label class='label_image' for="upload" id=upload-btn>
                                <span id="text">Выберите фото</span>
                            </label>
                            {{form.image(type="file", id="upload", class="inputfile") }}
                        </div>
                        <div class="account__form-submit form-submit__login">
                            {{ form.submit(class="form-submit__submit form-submit__addbrand_btn") }}
                        </div>
                    </div>
                    </form> 
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}