{% extends 'base.html' %}

{% block title %}Удаление бренда{% endblock %}


{% block body %}
<div class="wrapper">
    <div class="main-register main">
        <div class="main-register__container _container">
            <div class="main-register__menu"><a href="{{ url_for('admin') }}">Администрирование</a> » Удаление бренда</div>
            <div class="main-register__title">Удаление бренда</div>

            <div class="main-register__account account">
                <div class="account-menu main-register__reset">
                    <div>
                        {% if get_flashed_messages() %}
                        <div>
                            {% for mess in get_flashed_messages(category_filter=['error']) %}
                                <h5 class="account__alert-register alert-danger alert-danger__login">{{mess}}</h5>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>

                    <div>
                        {% if get_flashed_messages() %}
                        <div>
                            {% for mess in get_flashed_messages(category_filter=['success']) %}
                                <h5 class="account__alert-register alert-success">{{mess}}</h5>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <form action="", method="post">
                        {{ form.hidden_tag() }}

                        <div class="account__form form-email">
                            <label for="" class="form-email__label form__label email__reset__form">Введите название бренда для удаления: </label>
                            {{form.name(class="form-email__input form__input", placeholder="Бренд") }}
                        </div>
                        
                        <div class="account__form-submit form-submit__login">
                            {{ form.submit(class="form-submit__submit form-submit__addbrand_btn") }}
                        </div>
                    </div>
                    </form> 
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}